
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 1280px;
    box-sizing: border-box;
}

.navbar-content {
    margin: 0 4px;
}

.logo {
    height: 50px;
}

/* this probably isn't the best way to do it */
.search-page {
    width: 1280px; 
}

.search-config {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    align-items: stretch;
}

.search-config-text {
    display: flex; 
    border: 1px solid rgb(133,133,133); 
    background-color: rgb(59,59,59); 
    padding: 0 4px; 
    align-items: center;
}

.search-bar {
    display: flex;
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.search-bar-item {
    height: 100%;
}

.product-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 12px;
    height: 150px;
    border: 1px solid #ccc;
    /* border-radius: 8px; */
    margin-bottom: 16px;
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid transparent;
}

.product-image:hover {
    border: 1px solid #ffae00;
}

.product-info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.product-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 16px;
    text-align: left;
}

.product-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info-class {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.info-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.interact-text {
    font-weight: bold;
}

.interact-text:hover {
    text-decoration: underline;
}
